<li>
	{{name}}

	<button class="devoured_status" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}Burger is Devoured{{else}}Eat the burger{{/if}}
	</button>

	<button class="devoure_burger" data-id="{{this.id}}">Devoure</button>
</li>